.userImg {
    width: 150px;
    border-radius: 50%;
    border: 1px solid #f2f2f2;
    margin: 0 auto;
}

.card {
    transition: all .3s;
    border-radius: 5px;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}